
html{
 background:   
}

title{
}

body{
    
}
legend{
    
}

p{
    
}
p{
    
}
p{
    
}
strong{
    color: blue;
}
legend, label {
    font-weight: bold;
}
p{
    text-aling: right;
    width: 300px;
}